*{
    box-sizing: border-box;
}

.flex-container{
text-align: center;
display:flex;
flex-wrap: wrap;
padding: 20px;
border: 2px solid brown;


}

.bloc{
    flex-wrap: wrap;
    flex: 50%;
    padding: 10px;
    border: 2px solid whitesmoke;
}

.bloc-2{
    flex: 50%;
    padding: 1px;
    border: 2px solid blue;
}
